{% extends 'base.html.twig' %}

{% block title %}Add Apartment{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        body {
            margin-top: 73px;
        }
    </style>
{% endblock %}

{% block main_content %}

    <div class="banner">
        <img src="{{ bannerImg }}" alt="">
        <h1 class="location-form-title">Ajouter votre {{ locationType }}</h1>
    </div>

    <div class="form">

        {{ form_start(form) }}
        {{ form_end(form) }}
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/tinymce/tinymce.min.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/datalist-css/dist/datalist-css.min.js"></script>
    <script>
        const apiURL = '{{ path('app_api_get_city') }}'
    </script>

    {{ encore_entry_script_tags('form') }}
{% endblock %}
