{% extends 'base.html.twig' %}

{% block title %}Add Location{% endblock %}

{% block body %}
    <section class="index-location">
        <h1>Ajouter un logement</h1>
        <p>Choisir un type de logement</p>
        <div class="add-locations">
            <a class="btn btn-red" href="{{ path('app_add_house') }}"><i class="fa-solid fa-house-tsunami"></i> Maison</a>
            <a class="btn btn-red" href="{{ path('app_add_apartment') }}"><i class="fa-solid fa-building"></i> Appartement</a>
            <a class="btn btn-red" href="{{ path('app_add_treeHouse') }}"><i class="fa-solid fa-tree"></i> TreeHouse</a>
            <a class="btn btn-red" href="{{ path('app_add_boat') }}"><i class="fa-solid fa-sailboat"></i> Bateau</a>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>

        const isUser = '{{ app.user.email is defined ? true : false }}';
        const links = document.querySelectorAll('.add-locations a');
        links.forEach(link => {
            link.addEventListener('click', (e) => {
                if(isUser === '') {
                    e.preventDefault();
                    Swal.fire({
                        text: `Pour créer un logement vous devez vous connecter`,
                        showCancelButton: true,
                        confirmButtonText: 'Se connecter',
                    }).then((result) => {
                        /* Read more about isConfirmed, isDenied below */
                        if (result.isConfirmed) {
                            window.location.replace(link.getAttribute('href'));
                        }
                    })
                }
            })
        })

    </script>
{% endblock %}
