{% extends 'base.html.twig' %}

{% block title %}Add Apartment{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        form > div {
            width: unset;
            margin: unset;
        }
        form > div:nth-of-type(1) {
            width: 20%;
        }
        form > div:nth-of-type(2) {
            width: 80%;
        }
    </style>
{% endblock %}

{% block main_content %}

    <h1 class="text-center mb-3">Ajouter une chambre</h1>
    <h2 class="text-center">{{ location.name }}</h2>

    <div class="form">

        {{ form_start(form) }}

        <div class="rooms" id="rooms"
             data-index="{{ form.rooms|length > 0 ? form.rooms|last.vars.name + 1 : 0 }}"
             data-template='{{ form_widget(form.rooms.vars.prototype)|e }} <a class="btn text-danger rounded remove-item" href="#"><i class="fa-solid fa-trash"></i></a>'>
            {% for room in form.rooms %}
                <section class="card item">
                    <h3 class="mb-4">Chambre <span class="roomNumber">{{ loop.index }}</span></h3>
                    <div class="checkboxes">
                        {{ form_row(room.hasBathroom) }}
                        {{ form_row(room.hasBalcony) }}
                    </div>
                    <div class="d-flex align-items-center mb-3">
                        <h5 class="mb-2">Ajouter des lits</h5>
                        <button class="btn btn-dark rounded add_item" type="button" onclick="addFormToCollection(this.closest(`div`).nextSibling.nextSibling)" data-collection-holder-class="roomBeds"><i class="fa-solid fa-plus"></i></button>
                    </div>
                    <div class="roomBeds"
                         data-index="{{ room.roomBeds|length > 0 ? room.roomBeds|last.vars.name + 1 : 0 }}"
                         data-template='{{ form_widget(room.roomBeds.vars.prototype) }} <a class="btn btn-dark rounded remove-item" href="#"><i class="fa-solid fa-minus"></i></a>'>
                        {% for roomBed in room.roomBeds %}
                            <div class="collection-item item">
                                <div>
                                    {{ form_row(roomBed.bed) }}
                                    {{ form_row(roomBed.quantity) }}
                                </div>
                                <a class="btn btn-dark rounded remove-item" href="#"><i class="fa-solid fa-minus"></i></a>
                            </div>
                        {% endfor %}
                    </div>
                    <a class="btn text-danger rounded remove-item" href="#"><i class="fa-solid fa-trash"></i></a>
                </section>
            {% endfor %}
        </div>
        <button class="btn btn-dark add_item" type="button" onclick="addRoom()" data-collection-holder-class="rooms"><i class="fa-solid fa-plus"></i> Ajouter une chambre</button>
        <button type="submit" class="btn btn-red ms-auto">Enregistrer</button>
        {{ form_widget(form._token) }}
        {{ form_end(form, {'render_rest': false}) }}

    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('form') }}
    <script>
        let roomNbr = document.querySelectorAll('#rooms section').length;

        function addRoom() {
            const rooms = document.getElementById('rooms');
            const item = document.createElement('section');

            roomNbr++

            item.classList.add('card');
            item.innerHTML = `
                <h3 class="mb-4">Chambre ${roomNbr.toString()}</h3>
                ${rooms.dataset.template.replaceAll('__name__', rooms.dataset.index)}
            `
            rooms.appendChild(item);
            rooms.dataset.index++;

            item.querySelector('.remove-item').addEventListener('click', function() {
                item.remove();
            });
        }

        function addFormToCollection(collection) {

            const item = document.createElement('div');

            item.innerHTML = collection.dataset.template.replaceAll('__name__', collection.dataset.index);

            item.classList.add('collection-item', 'item');

            collection.appendChild(item);
            collection.dataset.index++;

            item.querySelector('.remove-item').addEventListener('click', removeItem);
        }

        document.querySelectorAll('.remove-item').forEach(function(elem) {
            elem.addEventListener('click', removeItem)
        })

        function removeItem() {
            this.closest('.item').remove()
        }

    </script>
{% endblock %}
