{% extends 'base.html.twig' %}

{% block title %}Reservation{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        body {
            margin-top: 73px;
        }
    </style>
{% endblock %}

{% block main_content %}
    <div class="banner">
        <img src="{{ location.picture }}" alt="">
        <h1 class="location-form-title">Récapitulatif : {{ location.name }}</h1>
    </div>


    <div class="form form-booking">
        {{ form_start(form) }}
        {{ form_end(form) }}
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/tinymce/tinymce.min.js') }}"></script>
    {{ encore_entry_script_tags('form') }}
{% endblock %}
